[run]
branch = True
omit =
    django_kmatch/migrations/*
    django_kmatch/south_migrations/*
    django_kmatch/tests/*
    django_kmatch/version.py
    django_kmatch/apps.py
source = django_kmatch
[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError
fail_under = 100
show_missing = 1
